@import '/styles/common-style.scss';

.dashboard {
    background-image: url('/images/overview/wave-middle.svg');
    background-size: cover;  // 배경 이미지를 컨테이너에 꽉 차게 표시
    background-repeat: no-repeat;  // 이미지 반복 없음
    background-position: center;  // 배경 이미지를 중앙에 배치
}