@import "/styles/common-style.scss";

.sectionContainer {
    padding-top: 5rem;
    @media (max-width: $mobile-width) {
        padding-top: 3rem;
    }
}

.boxContainer {
    padding: 3rem;
    margin-top: 2rem;
    @media (max-width: $mobile-width) {
        padding: 1rem;
    }
}